<div class="container">
    <img src="./assets/banner.jpg" width="100%" height="100%">
</div>
<div class="container">
<p>CMS was founded in 2020 headquartered in the CityName, StateName, CountryName. 
    In CountryName, the company has a branch office that hosts a research and development center, support staff and a data conversion with QA facility. 
    We employ about number of professionals, including executive management, sales managers, software engineers, data/content editors, and administrative/support personnel. 
    We have customers across the CityName, CityName, CityName, CityName, CityName and CityName in various industries who rely on CMS to manage and publish their product information across multiple mediums. 
    Some of those industries include HVAC, Electrical & Electronics, Healthcare, Building/Housing Supplies, Industrial Tools, Pool & Spa Supplies, Sporting Equipment, and many more.
</p>
</div>
