<div class="wrapper">
    <form class="form-login form" [formGroup]="contactform">
        <h3 class="h3 mb-3 font-weight-normal text-center">Contact Us</h3>
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Full Name">
            <div *ngIf="contactform.get('name').errors?.required && contactform.dirty" [ngStyle]="{'color': 'red'}">Full Name is required</div>
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter E-Mail">
            <div *ngIf="contactform.get('email').errors?.required && contactform.dirty" [ngStyle]="{'color': 'red'}">E-mail is required</div>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="number" class="form-control" formControlName="phone" placeholder="Phone Number">
            <div *ngIf="contactform.get('phone').errors?.required && contactform.dirty" [ngStyle]="{'color': 'red'}">Phone Number is required</div>
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea type="text" class="form-control" formControlName="message" placeholder="Enter Message"></textarea>
            <div *ngIf="contactform.get('message').errors?.required && contactform.dirty" [ngStyle]="{'color': 'red'}">Message is required</div>
        </div>
        <button type="submit" [disabled]='!contactform.valid' class="btn btn-block btn-primary">Submit Feedback!</button>
    </form>
</div>